@page
@model ExpenseManagement.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-page">
    <h1>An error occurred</h1>
    <p>Sorry, something went wrong while processing your request.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
